# If blank, the app will make relative API requests, which are proxied via Vite locally
# For production build or custom setup, configure the absolute path to backend:
VITE_API_URL=http://localhost:8000
